
###### Requirements with Version Specifiers ######
_libgcc_mutex==0.1
antlr-python-runtime==4.9.3
attrs==22.1.0
av==8.0.2
backports==1.0
backports.functools_lru_cache==1.6.4
blas==1.0
bzip2==1.0.8
ca-certificates==2022.6.15
certifi==2022.6.15
cffi==1.14.6
cudatoolkit==11.0.221
ffmpeg==4.3.1
freetype==2.10.2
ftfy==6.1.1
gettext==0.19.8.1
gmp==6.2.0
gnutls==3.6.13
iniconfig==1.1.1
intel-openmp==2020.2
jpeg==9b
lame==3.100
lcms2==2.11
ld_impl_linux-64==2.33.1
libedit==3.1.20191231
libffi==3.3
libflac==1.3.3
libgcc-ng==9.1.0
libgfortran-ng==7.3.0
libiconv==1.16
libllvm10==10.0.1
libogg==1.3.2
libpng==1.6.37
libsndfile==1.0.29
libstdcxx-ng==9.1.0
libtiff==4.1.0
libuv==1.40.0
libvorbis==1.3.7
llvmlite==0.36.0
lz4-c==1.9.2
mkl==2020.2
mkl-service==2.3.0
mkl_fft==1.2.0
mkl_random==1.1.1
ncurses==6.2
nettle==3.4.1
ninja==1.10.1
numba==0.53.1
numpy==1.19.1
numpy-base==1.19.1
olefile==0.46
omegaconf==2.1.1
openh264==2.1.1
openssl==1.1.1q
packaging==21.3
pillow==7.2.0
pip==20.2.2
pluggy==1.0.0
py==1.11.0
pycparser==2.21
pyparsing==3.0.9
pysoundfile==0.10.3.post1
pytest==7.1.2
python==3.8.5
python_abi==3.8
pytorch==1.7.1
pyyaml==5.3.1
readline==8.0
regex==2022.3.15
resampy==0.2.2
scipy==1.5.2
setuptools==49.6.0
six==1.15.0
sqlite==3.33.0
tbb==2020.2
tk==8.6.10
tomli==2.0.1
torchaudio==0.7.2
torchvision==0.8.2
tqdm==4.49.0
typing_extensions==4.0.1
wcwidth==0.2.5
wheel==0.35.1
x264==1!152.20180806
xz==5.2.5
yaml==0.2.5
zlib==1.2.11
zstd==1.4.5
